{% extends "topic_layout.html" %}
<!------------------------------------------------------->
{% block main_body %}
<p>
Binary search makes it quick and easy to find an element quickly in a sorted list. Unlike linear search 
which has to look at every element in a list when searching, binary search will at most look at only 
Log(N) + 1 elements. Binary search works by repeatedly dividing the search interval in half and checking 
if the key is less than or greater than the middle element in the interval. If the key is less, narrow the 
interval to the lower half. Otherwise narrow the interval to the upper half. Of course if the element is 
equal to the key then we are done. Below is the steps for Binary search:
</p>
<ol>
    <li>Compare x with the middle element</li>
    <li>If x matches the middle element, we return the mid index</li>
    <li>Else if x is greater than the middle element, repeat for the right half of the list</li>
    <li>Else if x is less than the middle element, repeat for the left half of the list</li>
</ol>
<br><br>
To visualize binary search, notice in the below diagram that at each step the list is divided in two:
</p>
<div class="spacer10"></div>
<img src="{{ url_for('static', filename='assets/binary_search.png') }}" class="topic-img">
<div class="spacer10"></div>
<p>
<br><br>
Below is the iterative implementation of Binary Search written in python:
<div class="content-section">
    <code>
        <pre>
# l: list to be searched
# low: lower bound of the list
# high: upper bound of the list
# x: key 
def binarySearch(l, low, high, x):

    while low <= high: 
    
        mid = low + (high - low) // 2; 
            
        # Check if x is present at mid 
        if l[mid] == x: 
            return mid 
    
        # If x is greater, ignore left half 
        elif l[mid] < x: 
            low = mid + 1
    
        # If x is smaller, ignore right half 
        else: 
            high = mid - 1
        
    # If we reach here, then the element 
    # was not present 
    return -1
        </pre>
    </code>
<div class="spacer10"></div>
</div>
</p>
{% endblock main_body %}
<!------------------------------------------------------->
{% block problem %}
<h2>Where is the Marble?</h2>
<p>
Raju and Meena love to play with Marbles. They have got a lot of marbles with numbers written on them. 
At the beginning, Raju would place the marbles one after another in ascending order of the numbers 
written on them. Then Meena would ask Raju to find the first marble with a certain number. She would 
count 1...2...3. Raju gets one point for correct answer, and Meena gets the point if Raju fails. After 
some fixed number of trials the game ends and the player with maximum points wins. Today it’s your chance 
to play as Raju. Being the smart kid, you’d be taking the favor of a computer. But don’t underestimate 
Meena, she had written a program to keep track how much time you’re taking to give all the answers. So now 
you have to write a program, which will help you in your role as Raju.
<br>
<h2>Input</h2>
There can be multiple test cases. Total no of test cases is less than 65. Each test case consists begins 
with 2 integers: N the number of marbles and Q the number of queries Mina would make. The next N lines 
would contain the numbers written on the N marbles. These marble numbers will not come in any particular 
order. Following Q lines will have Q queries. Be assured, none of the input numbers are greater than 10000 
and none of them are negative. Input is terminated by a test case where N = 0 and Q = 0.
<br><br>
<h2>Output</h2>
For each test case output the serial number of the case. For each of the queries, print one line of output. 
The format of this line will depend upon whether or not the query number is written upon any of the marbles. 
The two different formats are described below:
<ul>
    <li>‘x found at y’, if the first marble with number x was found at position y. Positions are numbered 1,2,...,N.</li>
    <li>‘x not found’, if the marble with number x is not present.</li>
</ul>
<br><br>
</p>
{% endblock problem %}
<!------------------------------------------------------->
{% block input %}
<p>
4 1<br>2<br>3<br>5<br>1<br>5<br>5 2<br>1<br>3<br>3<br>3<br>1<br>2<br>3<br>0 0
</p>
{% endblock input %}
<!------------------------------------------------------->
{% block output %}
CASE# 1:<br>5 found at 4<br>CASE# 2:<br>2 not found<br>3 found at 3
{% endblock output %}
<!------------------------------------------------------->
{% block completed %}
    <a href="{{ url_for('other.complete_topic', topic=topic) }}" class='btn btn-dark mt-1 mb-1'>Mark As Completed</a>
{% endblock completed %}
<!------------------------------------------------------->
{% block solution %}
<code>
    <pre>
import sys

def binarySearch(l, low, high, x):

    while low <= high: 
    
        mid = low + (high - low) // 2; 
            
        if l[mid] == x: 
            return mid 
    
        elif l[mid] < x: 
            low = mid + 1
    
        else: 
            high = mid - 1

    return -1

lines = sys.stdin.readlines()
case = 0
i = 0

while lines[i].strip() != '0 0':
    case+=1
    sys.stdout.write(f"CASE# {case}:\n")
    line = lines[i].split()
    n = int(line[0])
    q = int(line[1])

    marbles = list(map(int, lines[i+1:i+n+1]))
    queries = list(map(int, lines[i+n+1:i+n+q+1]))

    i = i + n + q + 1

    marbles.sort()

    for j in queries:
        high = len(marbles) - 1
        ans = -1
        while True:
            index = binarySearch(marbles, 0, high, j)
            if index != -1:
                ans = index
                high = index - 1
            elif index == -1:
                if ans == -1: 
                    sys.stdout.write(f"{j} not found\n")
                    break
                else:
                    sys.stdout.write(f"{j} found at {ans+1}\n")
                    break
    </pre>
</code>
{% endblock solution %}