{% extends "lesson_layout.html" %}

{% block zero_zero %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/BFS.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Breadth-First Search</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock zero_zero %}

<!------------------------------------------------------------------------------------------------->

{% block zero_one %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        
        <img src="{{ url_for('static', filename='assets/DFS.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Depth-First Search</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock zero_one %}

<!------------------------------------------------------------------------------------------------->

{% block zero_two %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/Kruskal.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Kruskal's Algorithm</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock zero_two %}

<!------------------------------------------------------------------------------------------------->

{% block one_zero %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/prims.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Prim's Algorithm</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock one_zero %}

<!------------------------------------------------------------------------------------------------->

{% block one_one %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/bellman_ford.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">The Bellman-Ford Algorithm</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock one_one %}

<!------------------------------------------------------------------------------------------------->

{% block one_two %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/Dijkstra.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Dijkstra's Algorithm</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock one_two %}

<!------------------------------------------------------------------------------------------------->

{% block two_zero %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/ford_fulkerson.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Ford-Fulkerson Method</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock two_zero %}

<!------------------------------------------------------------------------------------------------->

{% block two_one %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/floyd_warshall.png') }}" class="article-img">
        <h2><a class="article-title" href="#">Floyd-Warshall Algorithm</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock two_one %}

<!------------------------------------------------------------------------------------------------->