{% extends "layout.html" %}
{% block content %}
<h1>{{ lesson }}</h1>
<div class="contianer">
    <div class="row">
        <div class="col">
            {% block zero_zero %} {% endblock %}  
        </div>
        <div class="col">
            {% block zero_one %} {% endblock %}
        </div>
        <div class="col">
            {% block zero_two %} {% endblock %}
        </div>
    </div>
    <!----------------------------------------------------->
    <div class="row">
        <div class="col">
            {% block one_zero %} {% endblock %}  
        </div>
        <div class="col">
            {% block one_one %} {% endblock %}
        </div>
        <div class="col">
            {% block one_two %} {% endblock %}
        </div>
    </div>
    <!----------------------------------------------------->
    <div class="row">
        <div class="col">
            {% block two_zero %} {% endblock %}  
        </div>
        <div class="col">
            {% block two_one %} {% endblock %}
        </div>
        <div class="col">
            {% block two_two %} {% endblock %}
        </div>
    </div>
    <!----------------------------------------------------->
    <div class="row">
        <div class="col">
            {% block three_zero %} {% endblock %}  
        </div>
        <div class="col">
            {% block three_one %} {% endblock %}
        </div>
        <div class="col">
            {% block three_two %} {% endblock %}
        </div>
    </div>
    <!----------------------------------------------------->
    <div class="row">
        <div class="col">
            {% block four_zero %} {% endblock %}  
        </div>
        <div class="col">
            {% block four_one %} {% endblock %}
        </div>
        <div class="col">
            {% block four_two %} {% endblock %}
        </div>
    </div>
    <!----------------------------------------------------->
    <div class="row">
        <div class="col">
            {% block five_zero %} {% endblock %}  
        </div>
        <div class="col">
            {% block five_one %} {% endblock %}
        </div>
        <div class="col">
            {% block five_two %} {% endblock %}
        </div>
    </div>
</div>
{% endblock content %}