{% extends "lesson_layout.html" %}

{% block zero_zero %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/brute_force.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Brute Force</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock zero_zero %}

<!------------------------------------------------------------------------------------------------->

{% block zero_one %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/greedy.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Greedy Algorithm</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock zero_one %}

<!------------------------------------------------------------------------------------------------->

{% block zero_two %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/dp.png') }}" class="article-img">
        <h2><a class="article-title" href="#">Dynamic Programming</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock zero_two %}

<!------------------------------------------------------------------------------------------------->

{% block one_zero %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/binary_search.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Binary Search</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock one_zero %}

<!------------------------------------------------------------------------------------------------->

{% block one_one %}
<article class="media content-section-size-adjusted">
    <div class="media-body">
        <img src="{{ url_for('static', filename='assets/linear_search.gif') }}" class="article-img">
        <h2><a class="article-title" href="#">Linear Search</a></h2>
        <p>
Comming Soon.
        </p>
    </div>
</article>
{% endblock one_one %}
